<?xml version="1.0"?>
<!-- Launches a race_3d_tracking node or nodelet. All possible parameters are listed below to serve as an example -->
<launch>

    <node pkg="msldecision2ros" type="msldecision2ros_node.py" name="msldecision2ros_node" output="screen">

       <!--Must use ~ in remappings so they are private-->
    <!--<remap from="~point_cloud_in_topic" to="$(arg point_cloud_in_topic)"/>-->
    <!--<remap from="~parent_frame_id" to="$(arg parent_frame_id)"/>-->

    <!--param loading-->
    <!--<param name="initial_object_pc_path" value="$(arg initial_object_pc_path)"/>-->
    <!--<param name="~point_cloud_in_topic" value="$(arg point_cloud_in_topic)"/>-->
    <!--<rosparam command="load" file="$(find race_3d_object_tracking)/params/default_params.yaml" />-->
    </node>
</launch>	
