<?xml version="1.0"?>
<!-- -->
<launch>
<arg name="agent_id" default="1"/>
<!--<env name="LUCKY_NUMBER" value="13" />-->
<env name="AGENT" value="$(arg agent_id)" />

    <group ns="$(arg agent_id)">

        <include file="$(find rtdb2ros)/launch/rtdb2ros.launch">
        </include>

        <include file="$(find msldecision2ros)/launch/msldecision2ros.launch">
        </include>

           <!--Must use ~ in remappings so they are private-->
        <!--<remap from="~point_cloud_in_topic" to="$(arg point_cloud_in_topic)"/>-->
        <!--<remap from="~parent_frame_id" to="$(arg parent_frame_id)"/>-->

        <!--param loading-->
        <!--<param name="initial_object_pc_path" value="$(arg initial_object_pc_path)"/>-->
        <!--<param name="~point_cloud_in_topic" value="$(arg point_cloud_in_topic)"/>-->
        <!--<rosparam command="load" file="$(find race_3d_object_tracking)/params/default_params.yaml" />-->

    </group>

        <include file="$(find ros5dpo_bringup)/launch/visualize.launch">

        </include>

</launch>	
